* {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
  $font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-family: $font-family;
  margin: 0;
  padding: 0;
}


