@import '../../configstyles/Variables';
.LodgMain{
  padding-top: unset;
 
}
.lodging-page {
 margin-top: 40px;
  color: $primary-color;
 
  &__picture {
    height: 223px;
    margin-bottom: 40px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    background-size: cover;
  }
  .lodging__description__area{
    display: flex;
    gap: 60px;
 
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }
   
  }
}
ul{
  list-style-type: none;
}








