//Variable of colors
$primary-color: #ff6060;
$secondary-color: #F6F6F6;
$tertiary-color: #FFFFFF;

$footer-color: #000000;



/*$breakpoint-desktop: 769px;

$wmin: 375px;
$wmax: 768px;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
$font-family:'Montserrat', sans-serif;

